<section id="cd-timeline" class="cd-container">
  <% database.reverse.each do |(timestamp, entry)| %>
    <% type = entry[:type] %>
    <% klass = type.sub(' ','-') %>
    <% datetime = Time.at(timestamp.to_f).iso8601 %>
    <div class="cd-timeline-block <%= klass %>">
      <div class="cd-timeline-img">
        <% case type %>
        <% when 'kitchen upload' %>
          <img src="/vendor/img/cutlery.svg" alt="Cutlery">
        <% when 'cookbook upload' %>
          <img src="/vendor/img/book.svg" alt="Book">
        <% when 'constraint application' %>
          <img src="/vendor/img/shield.svg" alt="Shield">
        <% when 'failure' %>
          <img src="/vendor/img/error.svg" alt="Error">
        <% when 'release' %>
          <img src="/vendor/img/cube.svg" alt="Cube">
        <% end %>
      </div>
      <div class="cd-timeline-content">
        <h2><%= type %></h2>
        <% if entry[:error] && entry[:event] %>
          <p><%= notification entry %>. Triggered when <%= generic_details(entry[:event]) %></p>
        <% elsif entry[:error] # Failed before event generated %>
          <p><%= notification entry %></p>
        <% elsif type == 'release' %>
          <p><%= notification entry %></p>
        <% else %>
          <p><%= notification entry %> by pushing <%= push_details(entry[:event]) %></p>
        <% end %>
        <span class="cd-date"><time datetime="<%= datetime %>" pubdate="pubdate" class="time-ago" title="<%= datetime %>"><%= datetime %></time></span>
      </div>
    </div>
  <% end %>
</section>